*{
    margin: 0;
    padding: 0;
}
.image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}
.homeMain{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homediv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}
h1{
    color: black;
}
.navbar {
    height: 5em;
    width: 51em;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img.logo {
    height: 3em;
}
.detail {
    height: 2em;
    width: 20em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 20px;
    text-align: center;
}
button.signupbtn {
    height: 2.2em;
    width: 6em;
    border: none;
    outline: none;
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.loginicon{
    height: 50%;
}
.headinDiv {
    z-index: 0;
    margin-top: 1em;
}
.task {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    background: linear-gradient(to bottom, #081F2E, #383838);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.taskmenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gridBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 1.5em;
    width: 1.5em;
    gap: 3px;
}
.box1 {
    background-color: white;
    border-radius: 2px;
}
.box2 {
    background-color: #46C5FF;
    transform: rotate(45deg);
    border-radius: 2px;
}
span.menu {
    color: #ffffff;
    font-size: 11px;
}
.tagline {
    font-size: xxx-large;
    color: #081F2E;
    letter-spacing: 1px;
}
.allTaskDiv {
    display: flex;
    height: 15em;
    width: 58em;
    margin-right: 0em;
}